# Loading the Datasets

In [1]:
import pandas as pd

happiness_data = pd.read_csv("WorldHappinessReport2019.csv")

hdi_data = pd.read_csv("human_development.csv")

print("World Happiness Report Columns:")
print(happiness_data.columns)

print("\nHuman Development Report Columns:")
print(hdi_data.columns)

World Happiness Report Columns:
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

Human Development Report Columns:
Index(['HDI Rank', 'Country', 'Human Development Index (HDI)',
       'Life Expectancy at Birth', 'Expected Years of Education',
       'Mean Years of Education', 'Gross National Income (GNI) per Capita',
       'GNI per Capita Rank Minus HDI Rank'],
      dtype='object')

# Merge the datasets using the 'Country or region' and 'Country' columns

In [2]:
merged_data = pd.merge(happiness_data, hdi_data, left_on='Country or region', right_on='Country')
print(merged_data)

     Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.769           1.340
1               2                   Denmark  7.600           1.383
2               3                    Norway  7.554           1.488
3               4                   Iceland  7.494           1.380
4               5               Netherlands  7.488           1.396
..            ...                       ...    ...             ...
130           151                     Yemen  3.380           0.287
131           152                    Rwanda  3.334           0.359
132           154               Afghanistan  3.203           0.350
133           155  Central African Republic  3.083           0.026
134           156               South Sudan  2.853           0.306

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.587                    0.986                         0.596
1             1.573                    0.996                         0.592
2             1.582                    1.028                         0.603
3             1.624                    1.026                         0.591
4             1.522                    0.999                         0.557
..              ...                      ...                           ...
130           1.163                    0.463                         0.143
131           0.711                    0.614                         0.555
132           0.517                    0.361                         0.000
133           0.000                    0.105                         0.225
134           0.575                    0.295                         0.010

     Generosity  Perceptions of corruption  HDI Rank  \
0         0.153                      0.393      24.0
1         0.252                      0.410       4.0
2         0.271                      0.341       1.0
3         0.354                      0.118      16.0
4         0.322                      0.298       5.0
..          ...                        ...       ...
130       0.108                      0.077     160.0
131       0.217                      0.411     163.0
132       0.158                      0.025     171.0
133       0.235                      0.035     187.0
134       0.202                      0.091     169.0

                      Country  Human Development Index (HDI)  \
0                     Finland                          0.883
1                     Denmark                          0.923
2                      Norway                          0.944
3                     Iceland                          0.899
4                 Netherlands                          0.922
..                        ...                            ...
130                     Yemen                          0.498
131                    Rwanda                          0.483
132               Afghanistan                          0.465
133  Central African Republic                          0.350
134               South Sudan                          0.467

     Life Expectancy at Birth  Expected Years of Education  \
0                        80.8                         17.1
1                        80.2                         18.7
2                        81.6                         17.5
3                        82.6                         19.0
4                        81.6                         17.9
..                        ...                          ...
130                      63.8                          9.2
131                      64.2                         10.3
132                      60.4                          9.3
133                      50.7                          7.2
134                      55.7                          7.6

     Mean Years of Education Gross National Income (GNI) per Capita  \
0                       10.3                                 38,695
1                       12.7                                 44,025
2                       12.6                                 64,992
3                       10.6                                 35,182
4                       11.9                                 45,435
..                       ...                                    ...
130                      2.6                                  3,519
131                      3.7                                  1,458
132                      3.2                                  1,885
133                      4.2                                    581
134                      5.4                                  2,332

     GNI per Capita Rank Minus HDI Rank
0                                   0.0
1                                  11.0
2                                   5.0
3                                  12.0
4                                   9.0
..                                  ...
130                               -17.0
131                                11.0
132                                -7.0
133                                 1.0
134                                -9.0

[135 rows x 17 columns]

# Check for the number of missing values in each column

In [3]:
missing_values = merged_data.isnull().sum()
print("\nMissing values in each column:")
print(missing_values)

Missing values in each column:
Overall rank                              0
Country or region                         0
Score                                     0
GDP per capita                            0
Social support                            0
Healthy life expectancy                   0
Freedom to make life choices              0
Generosity                                0
Perceptions of corruption                 0
HDI Rank                                  0
Country                                   0
Human Development Index (HDI)             0
Life Expectancy at Birth                  0
Expected Years of Education               0
Mean Years of Education                   0
Gross National Income (GNI) per Capita    0
GNI per Capita Rank Minus HDI Rank        0
dtype: int64